<html>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Find my Bike</title>
    <style>

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <button onclick="registerPrompt()">Register Tracker</button> 
    <div id="menu"></div>
    <div id="map"></div>
    <script>


    const applicationServerPublicKey = 'BOzb97H2yfaNrQo6XiOTt9SMYpABUYMikjNMxJ4SPSkl1vpe__b20kGa35UkjyYJswAlCXgdH9Tmj6rrPDGN71g';

    let isSubscribed = false;
    let swRegistration = null;

    function urlB64ToUint8Array(base64String) {
      const padding = '='.repeat((4 - base64String.length % 4) % 4);
      const base64 = (base64String + padding)
        .replace(/\-/g, '+')
        .replace(/_/g, '/');

      const rawData = window.atob(base64);
      const outputArray = new Uint8Array(rawData.length);

      for (let i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i);
      }
      return outputArray;
    }


    function initializeUI() {

      subscribeUser();

      // Set the initial subscription value
      swRegistration.pushManager.getSubscription()
      .then(function(subscription) {
        isSubscribed = !(subscription === null);

        updateSubscriptionOnServer(subscription);

        if (isSubscribed) {
          console.log('User IS subscribed.');
        } else {
          console.log('User is NOT subscribed.');
        }
      });
    }
     
    function subscribeUser() {
      const applicationServerKey = urlB64ToUint8Array(applicationServerPublicKey);
      swRegistration.pushManager.subscribe({
        userVisibleOnly: true,
        applicationServerKey: applicationServerKey
      })
      .then(function(subscription) {
        console.log('User is subscribed.');

        updateSubscriptionOnServer(subscription);

        isSubscribed = true;

      })
      .catch(function(err) {
        console.log('Failed to subscribe the user: ', err);
      });
    }

    function updateSubscriptionOnServer(subscription) {
      // TODO: Send subscripton to application server
      
      console.log('updateSubscriptionOnServer')
      console.log(subscription)
      
      if (subscription) {
        subscriptionJson = JSON.stringify(subscription);
        
        var httpRequest = new XMLHttpRequest();

        httpRequest.open("POST", "/sw/");
        httpRequest.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        httpRequest.send(JSON.stringify({ "sw": subscriptionJson }));
      }

    }



    if ('serviceWorker' in navigator && 'PushManager' in window) {
      console.log('Service Worker and Push is supported');

      navigator.serviceWorker.register('/sw.js')
      .then(function(swReg) {
        console.log('Service Worker is registered', swReg);

        swRegistration = swReg;
        initializeUI();
      })
      .catch(function(error) {
        console.error('Service Worker Error', error);
      });
    } else {
      console.warn('Push messaging is not supported');
    }






      // SW End

      // buttons

      function registerPrompt() {
         var idStr = window.prompt("Tracker ID");
         if (idStr == null) {
           return;
         }
         try {
           id = parseInt(idStr);
           check = parseFloat(idStr);
         } catch(err) {
           alert("Failed");
         }
         if (isNaN(id) || (id != check)) {
           alert("Failed");
         } else {
           alert("Success");
         }
         // SEND THE ID TO FLASK 

         sendData(JSON.stringify({"id" : id}), "/register", "register bike");

         
      }
      

      var map;
      var markers = [];

      function initMap() {
        console.log("init map");
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: -33, lng: 151}
        });

        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        getLocation();
        retreiveLoc();
      }

      function retreiveLoc() {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            displayLoc(myArr);
          }
        }
        httpRequest.open("GET", "/data/user");
        httpRequest.send();
      }

      function getAlert() {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var alerto = JSON.parse(this.responseText);
            displayAlert(alerto);
          }
        }
        httpRequest.open("GET", "/alert");
        httpRequest.send();
      }


      function displayLoc(data) {
        console.log(data);
        console.log(data.length);
        m = markers.length;
        markers = [];
        var i;
        for (i = 0; i < data.length; i++) {
          markers.push(new google.maps.Marker({
            position: {lat: parseFloat(data[i][0]), lng: parseFloat(data[i][1])},
            map: map
          }));
        }
        if (markers.length > m && m > 0) {
          alert("Push: new user");
        }
      }

      function displayAlert(alerto) {
        alert(alerto)
      }



      function getLocation() {
        console.log("getting loc");
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(handleSendLoc);
        } 
      }

      function handleSendLoc(loc) {
        sendData(JSON.stringify({"lat" : loc.coords.latitude, "lon" : loc.coords.longitude }), "data/user", "user location");
      }


      function sendData(data, where, whatData) {

        if (data == undefined || where == undefined)

        console.log("Sending data: ", whatData);
        var httpRequest = new XMLHttpRequest();
        
        if(!httpRequest) {
          console.err("httpRequest could not be created");
          return false;
        }

        // httpRequest.onreadystatechange = function() { handleSend(httpRequest, lat, lon) };

        httpRequest.open("POST", where);
        httpRequest.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        httpRequest.send(data);
      }

      function handleSend(httpRequest) {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if(httpRequest.responseText === "200: ALERT") {
            alert("ayyo")
          }
          if(httpRequest.status === 200) {
            console.log("data sent");
          } else {
            console.err("data not sent");
          }
        }
      }



      window.setInterval(function() {
        retreiveLoc();
        getLocation();
      }, 1000);


    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCizgh35VVe6wmet-88K0xzEt4fAP3hpLw&callback=initMap">
    </script>


 
</html>

